[am-Button]:extend(.btn) {
}

[am-Button~=blue] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}

[am-Button~=primary] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
	background: #475059;
	border: 1px solid #48525A;
}

[am-Button~=info] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #49afcd;
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4)
}

[am-Button~=success] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
}

[am-Button~=warning] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
}

[am-Button~=danger] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
}

[am-Button~=help] {
	// vertical-align: top;
	// font-size: 1.2em;
	/*font-weight: bold;*/
	color: #aaa;
	/*text-shadow: 0 -1px 0 rgba(0,0,0,0.6);*/
	background:none;
	border:0;
	/*margin-top:0.12em;*/
	// padding:0.3em 0.12em;
}

[am-Button~=search] {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left:0;
	margin-left:0;
	// padding:5px 10px 4px 10px;
}

[am-Button~=select] .btn-label {
	margin: 0 3px;
	vertical-align: top;
}

