[am-Button] {
	border-radius: 5px;
	border:1px solid #ccc;
	cursor:pointer;
	padding:1em;
	display: inline-block;
}

[am-Button] {
	display:inline-block;
	padding: .2em .6em;
	border: 1px solid #EAEEF0;
	border-radius: 4px;
	/*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
	cursor:pointer;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	background: #FCFCFE;
	/*background-image:linear-gradient(#fcfcfc, #eee);*/
	background-repeat: repeat-x;
	font-weight: normal;
}

[am-Button~=blue] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}

[am-Button~=primary] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
	background: #475059;
	border: 1px solid #48525A;
}

[am-Button~=info] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #49afcd;
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4)
}

[am-Button~=success] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
}

[am-Button~=warning] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
}

[am-Button~=danger] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
}

[am-Button~=help] {
	vertical-align: top;
	font-size: 1.2em;
	/*font-weight: bold;*/
	color: #aaa;
	/*text-shadow: 0 -1px 0 rgba(0,0,0,0.6);*/
	background:none;
	border:0;
	/*margin-top:0.12em;*/
	padding:0.3em 0.12em;
}
