[am-Screen] {
	display:none;
}

[am-Navbar] {
	display:block;
}

[am-Navbar~=inline] {
	display: inline-block;
}

[am-Navbar~=right] {
	float: right;
}

[am-Navbar~=right]::after {
	content: " ";
	display:block;
	clear:both;
}

[am-Navbar~=page] {
	margin:0 0.3em;
	clear: both;
}

[am-WizardNav] {
	text-align: right;
	margin:1em 0 0.5em 0;
}

[am-WizardNav].back {
	text-align: left;
}

[am-Breadcrumb] {
	border:1px solid #E9EFF0;
	background: #FCFCFE;
	padding: 0.7em 0.5em;
	margin: 0.8em 0;
}

[am-Breadcrumb] ul.nav {
	list-style: none;
	margin:0;
	padding:0;
}

[am-Breadcrumb] ul.nav li {
	display: inline-block;
	font-size:2em;
	padding:0;
	margin: 0;
}

/*
[am-Breadcrumb] ul.nav li.item {
	display: inline-block;
	font-size:1.4em;
	padding:0;
	margin: 0;
}
*/

[am-Breadcrumb] ul.nav li::after {
	display: inline-block;
	position: relative;
	top: 3px;
	font-size:1em;
	padding:0;
	margin:0 0.2em 0 0.3em;
	content: "\e080";
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[am-Breadcrumb] ul.nav li:last-child::after {
	content: " ";
}

[am-ProgressCircle] {
}

[am-ProgressCircle] .outer {
	width:50px;
	height:50px;
	border:2px solid #ccc;
	border-radius: 25px;
}

[am-ProgressCircle] .status {
	width:50px;
	height:50px;
	border:2px solid #ccc;
	border-radius: 25px;
}

[am-ProgressBar] {
	width: 500px;
	margin: 0.3em auto;
}

[am-ProgressBar] .statusbar {
	background: repeating-linear-gradient(
		-45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
	background-size:30px 14px;
	border-radius: 20px;
	-webkit-animation:move 2s linear infinite;
	-moz-animation:move 2s linear infinite;
	-ms-animation:move 2s linear infinite;
	animation:move 2s linear infinite;
	border: 4px solid #ddd;
}

[am-ProgressBar] .statusbar > .status {
	/*background-color: green;*/
	width:0;
	height:1em;
	border-radius: 20px;
	/*border-right: 1px solid #aaa;*/

	background: #c5de89; /* Old browsers */
    background: -moz-linear-gradient(top, #c5de89 0%, #9cc350 50%, #466a0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5de89), color-stop(50%, #9cc350), color-stop(100%, #466a0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c5de89 0%, #9cc350 50%, #466a0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c5de89 0%, #9cc350 50%, #466a0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c5de89 0%, #9cc350 50%, #466a0e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c5de89 0%, #9cc350 50%, #466a0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5de89', endColorstr='#466a0e', GradientType=0 ); /* IE6-9 */
    -webkit-background-size: 100% 120%;
    -moz-background-size: 100% 120%;
    background-size: 100% 120%;
    background-position: 0 100%;
}

[am-ProgressBar] .details {
	margin: 1em;
}

[am-ProgressBar] .details .status {
	width:auto;
	float:right;
}

/**
 * Progress bar animations
 */
/*
Animate the stripes
*/   
@-webkit-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 120px 0;
  }
}    
@-moz-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 120px 0;
  }
}    
@-ms-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 120px 0;
  }
}    
@keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 120px 0;
  }
}  

[am-DataTable] {
	display:table;
	border:0;
}

[am-DataTable] thead th {
	border:0;
	border-bottom:2px solid #DEDEDE;
	background: #FCFCFE;
	color:#5B5B5B;
	padding:0.5em;
}

[am-DataTable] thead th:hover {
	border-bottom:2px solid #8E9195;
	background: #ECECEE;
	color:#343434;
}

[am-DataTable] tbody td {
	border:0;
	border-bottom:1px solid #DEDEDE;
	color:#ccc;
	padding:0.5em;
	cursor: default;
}

[am-DataTable] tbody td:nth-child(2) {
	color:#666;
}

[am-DataTable] tbody tr:hover {
	background: #FCFCFC;
}

[am-DataTable] tbody tr:hover td {
	color: #999;
}

[am-DataTable] tbody tr:hover td:nth-child(2) {
	color: #333;
}

[am-DataTable][data-sortable] th {
	cursor:pointer;
}

[am-DataTable][am-Tools~=drag-sort] th {
	cursor: default;
	text-align: left;
}

[am-DataTable][am-Tools~=drag-sort] tbody tr.tDnD_whileDrag {
	border: 1px solid #DEDEDE;
	background-color: #f3f3f3;
}

[am-DataTable][am-Tools~=drag-sort] thead th:first-child, [am-DataTable][am-Tools~=drag-sort] tbody td:first-child {
	text-align: center;
}

[am-DataTable][am-Tools~=drag-sort] tbody td:first-child {
	cursor: move;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[am-DataTable][am-Tools~=drag-sort] th td:first-child {
	cursor:default;
}

[am-DataTable][am-Tools~=select-all] [am-Selected=true], [am-DataTable][am-Tools~=select-multi] [am-Selected=true] {
	background:#ECECEE;
}

[am-DataTable][am-Tools~=select-all] tbody tr, [am-DataTable][am-Tools~=select-multi] tbody tr {
	cursor:pointer;
}

[am-DataTable][am-Tools~=removable] td.table-control.remove {
	text-align: center;
	cursor: pointer;
	background-color: #f2dede;
}

[am-DataTable][am-Tools~=removable] td.table-control.remove:hover {
	background-color:#ED6C6C;
}

[am-DataTable][am-Tools~=removable] td.table-control.remove:hover .remove {
	color: #333;
}

table[data-sortable] {
  /*border-collapse: collapse;*/
  /*border-spacing: 0;*/
}
table[data-sortable] th {
  /*font-weight: bold;*/
  white-space: nowrap;
}
table[data-sortable] th, table[data-sortable] td {
  /*text-align: left;*/
}
table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}
table[data-sortable] th:not([data-sortable="false"]):after {
  content: "\e114";
  visibility: hidden;
  position: relative;
  top: 2px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  margin:0 0 0 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table[data-sortable] th[data-sorted="true"] {
	border-bottom:2px solid #8E9195;
	background: #ECECEE;
	color:#343434;
}
table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}
table[data-sortable] th:not([data-sortable="false"]):hover:after {
  visibility: visible;
}
table[data-sortable] th[data-sorted-direction="descending"]:after {
  content: "\e113";
}
table[data-sortable] th[data-sorted-direction="ascending"]:after {
  content: "\e114";
}

[am-DataTable][am-Tools~=edit-cell] input {
	display:inline;
	width:auto;
}

/* am-Menu="callout" am-Animate="flyout down fast" am-Attach="right" */
[am-Menu~=callout] {
	display:none;
	position: absolute;
	z-index: 50;
	margin-top: 5px;
	border-radius:5px;
	border: 1px solid #D1D4D7;
	background: #FCFCFE;
	box-shadow: 1px 3px 4px #ccc;
	padding:0.8em;
}

[am-Map] {
	margin: 0.6em 0;
}

[am-Map~=fill] {
	width:100%;
	min-height: 22em;
}