[am-Form] {
	margin: 1em 0;
}

[am-Form~=inline] {
	display: inline-block;
	margin: 0 0.5em 0 0;
}

input[type=text] {
	border: 1px solid #E9EFF0;
	border-radius: 4px;
	padding: 0.5em 0.86em;
	margin:0;
}

[am-Form].search {
	// white-space: nowrap;
	// vertical-align: top;
}

[am-Form].search input[type=text], [am-Form].search input[type=search] {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	margin-right:0;
	border-color: #EAEEF0 !important;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button !important;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: searchfield-decoration !important;
}
