//
// Glyphicons in Attribute Modules - borrowed from Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// Bootstrap does it like this:
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>
// 
// We do it like this:
// <a href="#"><span am-Icon="glyph" class="star"></span> Star</a>

// Import the fonts
// @font-face {
//   font-family: 'Glyphicons Halflings';
//   src: url('@{icon-font-path}@{icon-font-name}.eot');
//   src: url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'),
//        url('@{icon-font-path}@{icon-font-name}.woff') format('woff'),
//        url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'),
//        url('@{icon-font-path}@{icon-font-name}.svg#@{icon-font-svg-id}') format('svg');
// }

// // Catchall baseclass
// [am-Icon~=glyph] {
//   position: relative;
//   // top: 1px;
//   display: inline-block;
//   font-family: 'Glyphicons Halflings';
//   font-style: normal;
//   font-weight: normal;
//   // line-height: 1;
//   margin:0;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// 
[am-Icon~=glyph]:extend(.glyphicon) {
}

[am-Icon~=glyph][am-Icon~=nav-item] {
  top:5px;
}

[am-Icon~=glyph][am-Icon~=extra-small] {
  font-size: 0.6em;
}

[am-Icon~=glyph][am-Icon~=small] {
  font-size: 0.8em;
}

[am-Icon~=glyph][am-Icon~=normal] {
  font-size: 1em;
}

[am-Icon~=glyph][am-Icon~=large] {
  font-size: 1.14em;
}

[am-Icon~=glyph][am-Icon~=extra-large] {
  font-size: 1.3em;
}

// Individual icons
[am-Icon~=glyph].asterisk               { &:before { content: "\2a"; } }
[am-Icon~=glyph].plus                   { &:before { content: "\2b"; } }
[am-Icon~=glyph].euro,
[am-Icon~=glyph].eur                    { &:before { content: "\20ac"; } }
[am-Icon~=glyph].minus                  { &:before { content: "\2212"; } }
[am-Icon~=glyph].cloud                  { &:before { content: "\2601"; } }
[am-Icon~=glyph].envelope               { &:before { content: "\2709"; } }
[am-Icon~=glyph].pencil                 { &:before { content: "\270f"; } }
[am-Icon~=glyph].glass                  { &:before { content: "\e001"; } }
[am-Icon~=glyph].music                  { &:before { content: "\e002"; } }
[am-Icon~=glyph].search                 { &:before { content: "\e003"; } }
[am-Icon~=glyph].heart                  { &:before { content: "\e005"; } }
[am-Icon~=glyph].star                   { &:before { content: "\e006"; } }
[am-Icon~=glyph].star-empty             { &:before { content: "\e007"; } }
[am-Icon~=glyph].user                   { &:before { content: "\e008"; } }
[am-Icon~=glyph].film                   { &:before { content: "\e009"; } }
[am-Icon~=glyph].th-large               { &:before { content: "\e010"; } }
[am-Icon~=glyph].th                     { &:before { content: "\e011"; } }
[am-Icon~=glyph].th-list                { &:before { content: "\e012"; } }
[am-Icon~=glyph].ok                     { &:before { content: "\e013"; } }
[am-Icon~=glyph].remove                 { &:before { content: "\e014"; } }
[am-Icon~=glyph].zoom-in                { &:before { content: "\e015"; } }
[am-Icon~=glyph].zoom-out               { &:before { content: "\e016"; } }
[am-Icon~=glyph].off                    { &:before { content: "\e017"; } }
[am-Icon~=glyph].signal                 { &:before { content: "\e018"; } }
[am-Icon~=glyph].cog                    { &:before { content: "\e019"; } }
[am-Icon~=glyph].trash                  { &:before { content: "\e020"; } }
[am-Icon~=glyph].home                   { &:before { content: "\e021"; } }
[am-Icon~=glyph].file                   { &:before { content: "\e022"; } }
[am-Icon~=glyph].time                   { &:before { content: "\e023"; } }
[am-Icon~=glyph].road                   { &:before { content: "\e024"; } }
[am-Icon~=glyph].download-alt           { &:before { content: "\e025"; } }
[am-Icon~=glyph].download               { &:before { content: "\e026"; } }
[am-Icon~=glyph].upload                 { &:before { content: "\e027"; } }
[am-Icon~=glyph].inbox                  { &:before { content: "\e028"; } }
[am-Icon~=glyph].play-circle            { &:before { content: "\e029"; } }
[am-Icon~=glyph].repeat                 { &:before { content: "\e030"; } }
[am-Icon~=glyph].refresh                { &:before { content: "\e031"; } }
[am-Icon~=glyph].list-alt               { &:before { content: "\e032"; } }
[am-Icon~=glyph].lock                   { &:before { content: "\e033"; } }
[am-Icon~=glyph].flag                   { &:before { content: "\e034"; } }
[am-Icon~=glyph].headphones             { &:before { content: "\e035"; } }
[am-Icon~=glyph].volume-off             { &:before { content: "\e036"; } }
[am-Icon~=glyph].volume-down            { &:before { content: "\e037"; } }
[am-Icon~=glyph].volume-up              { &:before { content: "\e038"; } }
[am-Icon~=glyph].qrcode                 { &:before { content: "\e039"; } }
[am-Icon~=glyph].barcode                { &:before { content: "\e040"; } }
[am-Icon~=glyph].tag                    { &:before { content: "\e041"; } }
[am-Icon~=glyph].tags                   { &:before { content: "\e042"; } }
[am-Icon~=glyph].book                   { &:before { content: "\e043"; } }
[am-Icon~=glyph].bookmark               { &:before { content: "\e044"; } }
[am-Icon~=glyph].print                  { &:before { content: "\e045"; } }
[am-Icon~=glyph].camera                 { &:before { content: "\e046"; } }
[am-Icon~=glyph].font                   { &:before { content: "\e047"; } }
[am-Icon~=glyph].bold                   { &:before { content: "\e048"; } }
[am-Icon~=glyph].italic                 { &:before { content: "\e049"; } }
[am-Icon~=glyph].text-height            { &:before { content: "\e050"; } }
[am-Icon~=glyph].text-width             { &:before { content: "\e051"; } }
[am-Icon~=glyph].align-left             { &:before { content: "\e052"; } }
[am-Icon~=glyph].align-center           { &:before { content: "\e053"; } }
[am-Icon~=glyph].align-right            { &:before { content: "\e054"; } }
[am-Icon~=glyph].align-justify          { &:before { content: "\e055"; } }
[am-Icon~=glyph].list                   { &:before { content: "\e056"; } }
[am-Icon~=glyph].indent-left            { &:before { content: "\e057"; } }
[am-Icon~=glyph].indent-right           { &:before { content: "\e058"; } }
[am-Icon~=glyph].facetime-video         { &:before { content: "\e059"; } }
[am-Icon~=glyph].picture                { &:before { content: "\e060"; } }
[am-Icon~=glyph].map-marker             { &:before { content: "\e062"; } }
[am-Icon~=glyph].adjust                 { &:before { content: "\e063"; } }
[am-Icon~=glyph].tint                   { &:before { content: "\e064"; } }
[am-Icon~=glyph].edit                   { &:before { content: "\e065"; } }
[am-Icon~=glyph].share                  { &:before { content: "\e066"; } }
[am-Icon~=glyph].check                  { &:before { content: "\e067"; } }
[am-Icon~=glyph].move                   { &:before { content: "\e068"; } }
[am-Icon~=glyph].step-backward          { &:before { content: "\e069"; } }
[am-Icon~=glyph].fast-backward          { &:before { content: "\e070"; } }
[am-Icon~=glyph].backward               { &:before { content: "\e071"; } }
[am-Icon~=glyph].play                   { &:before { content: "\e072"; } }
[am-Icon~=glyph].pause                  { &:before { content: "\e073"; } }
[am-Icon~=glyph].stop                   { &:before { content: "\e074"; } }
[am-Icon~=glyph].forward                { &:before { content: "\e075"; } }
[am-Icon~=glyph].fast-forward           { &:before { content: "\e076"; } }
[am-Icon~=glyph].step-forward           { &:before { content: "\e077"; } }
[am-Icon~=glyph].eject                  { &:before { content: "\e078"; } }
[am-Icon~=glyph].chevron-left           { &:before { content: "\e079"; } }
[am-Icon~=glyph].chevron-right          { &:before { content: "\e080"; } }
[am-Icon~=glyph].plus-sign              { &:before { content: "\e081"; } }
[am-Icon~=glyph].minus-sign             { &:before { content: "\e082"; } }
[am-Icon~=glyph].remove-sign            { &:before { content: "\e083"; } }
[am-Icon~=glyph].ok-sign                { &:before { content: "\e084"; } }
[am-Icon~=glyph].question-sign          { &:before { content: "\e085"; } }
[am-Icon~=glyph].info-sign              { &:before { content: "\e086"; } }
[am-Icon~=glyph].screenshot             { &:before { content: "\e087"; } }
[am-Icon~=glyph].remove-circle          { &:before { content: "\e088"; } }
[am-Icon~=glyph].ok-circle              { &:before { content: "\e089"; } }
[am-Icon~=glyph].ban-circle             { &:before { content: "\e090"; } }
[am-Icon~=glyph].arrow-left             { &:before { content: "\e091"; } }
[am-Icon~=glyph].arrow-right            { &:before { content: "\e092"; } }
[am-Icon~=glyph].arrow-up               { &:before { content: "\e093"; } }
[am-Icon~=glyph].arrow-down             { &:before { content: "\e094"; } }
[am-Icon~=glyph].share-alt              { &:before { content: "\e095"; } }
[am-Icon~=glyph].resize-full            { &:before { content: "\e096"; } }
[am-Icon~=glyph].resize-small           { &:before { content: "\e097"; } }
[am-Icon~=glyph].exclamation-sign       { &:before { content: "\e101"; } }
[am-Icon~=glyph].gift                   { &:before { content: "\e102"; } }
[am-Icon~=glyph].leaf                   { &:before { content: "\e103"; } }
[am-Icon~=glyph].fire                   { &:before { content: "\e104"; } }
[am-Icon~=glyph].eye-open               { &:before { content: "\e105"; } }
[am-Icon~=glyph].eye-close              { &:before { content: "\e106"; } }
[am-Icon~=glyph].warning-sign           { &:before { content: "\e107"; } }
[am-Icon~=glyph].plane                  { &:before { content: "\e108"; } }
[am-Icon~=glyph].calendar               { &:before { content: "\e109"; } }
[am-Icon~=glyph].random                 { &:before { content: "\e110"; } }
[am-Icon~=glyph].comment                { &:before { content: "\e111"; } }
[am-Icon~=glyph].magnet                 { &:before { content: "\e112"; } }
[am-Icon~=glyph].chevron-up             { &:before { content: "\e113"; } }
[am-Icon~=glyph].chevron-down           { &:before { content: "\e114"; } }
[am-Icon~=glyph].retweet                { &:before { content: "\e115"; } }
[am-Icon~=glyph].shopping-cart          { &:before { content: "\e116"; } }
[am-Icon~=glyph].folder-close           { &:before { content: "\e117"; } }
[am-Icon~=glyph].folder-open            { &:before { content: "\e118"; } }
[am-Icon~=glyph].resize-vertical        { &:before { content: "\e119"; } }
[am-Icon~=glyph].resize-horizontal      { &:before { content: "\e120"; } }
[am-Icon~=glyph].hdd                    { &:before { content: "\e121"; } }
[am-Icon~=glyph].bullhorn               { &:before { content: "\e122"; } }
[am-Icon~=glyph].bell                   { &:before { content: "\e123"; } }
[am-Icon~=glyph].certificate            { &:before { content: "\e124"; } }
[am-Icon~=glyph].thumbs-up              { &:before { content: "\e125"; } }
[am-Icon~=glyph].thumbs-down            { &:before { content: "\e126"; } }
[am-Icon~=glyph].hand-right             { &:before { content: "\e127"; } }
[am-Icon~=glyph].hand-left              { &:before { content: "\e128"; } }
[am-Icon~=glyph].hand-up                { &:before { content: "\e129"; } }
[am-Icon~=glyph].hand-down              { &:before { content: "\e130"; } }
[am-Icon~=glyph].circle-arrow-right     { &:before { content: "\e131"; } }
[am-Icon~=glyph].circle-arrow-left      { &:before { content: "\e132"; } }
[am-Icon~=glyph].circle-arrow-up        { &:before { content: "\e133"; } }
[am-Icon~=glyph].circle-arrow-down      { &:before { content: "\e134"; } }
[am-Icon~=glyph].globe                  { &:before { content: "\e135"; } }
[am-Icon~=glyph].wrench                 { &:before { content: "\e136"; } }
[am-Icon~=glyph].tasks                  { &:before { content: "\e137"; } }
[am-Icon~=glyph].filter                 { &:before { content: "\e138"; } }
[am-Icon~=glyph].briefcase              { &:before { content: "\e139"; } }
[am-Icon~=glyph].fullscreen             { &:before { content: "\e140"; } }
[am-Icon~=glyph].dashboard              { &:before { content: "\e141"; } }
[am-Icon~=glyph].paperclip              { &:before { content: "\e142"; } }
[am-Icon~=glyph].heart-empty            { &:before { content: "\e143"; } }
[am-Icon~=glyph].link                   { &:before { content: "\e144"; } }
[am-Icon~=glyph].phone                  { &:before { content: "\e145"; } }
[am-Icon~=glyph].pushpin                { &:before { content: "\e146"; } }
[am-Icon~=glyph].usd                    { &:before { content: "\e148"; } }
[am-Icon~=glyph].gbp                    { &:before { content: "\e149"; } }
[am-Icon~=glyph].sort                   { &:before { content: "\e150"; } }
[am-Icon~=glyph].sort-by-alphabet       { &:before { content: "\e151"; } }
[am-Icon~=glyph].sort-by-alphabet-alt   { &:before { content: "\e152"; } }
[am-Icon~=glyph].sort-by-order          { &:before { content: "\e153"; } }
[am-Icon~=glyph].sort-by-order-alt      { &:before { content: "\e154"; } }
[am-Icon~=glyph].sort-by-attributes     { &:before { content: "\e155"; } }
[am-Icon~=glyph].sort-by-attributes-alt { &:before { content: "\e156"; } }
[am-Icon~=glyph].unchecked              { &:before { content: "\e157"; } }
[am-Icon~=glyph].expand                 { &:before { content: "\e158"; } }
[am-Icon~=glyph].collapse-down          { &:before { content: "\e159"; } }
[am-Icon~=glyph].collapse-up            { &:before { content: "\e160"; } }
[am-Icon~=glyph].log-in                 { &:before { content: "\e161"; } }
[am-Icon~=glyph].flash                  { &:before { content: "\e162"; } }
[am-Icon~=glyph].log-out                { &:before { content: "\e163"; } }
[am-Icon~=glyph].new-window             { &:before { content: "\e164"; } }
[am-Icon~=glyph].record                 { &:before { content: "\e165"; } }
[am-Icon~=glyph].save                   { &:before { content: "\e166"; } }
[am-Icon~=glyph].open                   { &:before { content: "\e167"; } }
[am-Icon~=glyph].saved                  { &:before { content: "\e168"; } }
[am-Icon~=glyph].import                 { &:before { content: "\e169"; } }
[am-Icon~=glyph].export                 { &:before { content: "\e170"; } }
[am-Icon~=glyph].send                   { &:before { content: "\e171"; } }
[am-Icon~=glyph].floppy-disk            { &:before { content: "\e172"; } }
[am-Icon~=glyph].floppy-saved           { &:before { content: "\e173"; } }
[am-Icon~=glyph].floppy-remove          { &:before { content: "\e174"; } }
[am-Icon~=glyph].floppy-save            { &:before { content: "\e175"; } }
[am-Icon~=glyph].floppy-open            { &:before { content: "\e176"; } }
[am-Icon~=glyph].credit-card            { &:before { content: "\e177"; } }
[am-Icon~=glyph].transfer               { &:before { content: "\e178"; } }
[am-Icon~=glyph].cutlery                { &:before { content: "\e179"; } }
[am-Icon~=glyph].header                 { &:before { content: "\e180"; } }
[am-Icon~=glyph].compressed             { &:before { content: "\e181"; } }
[am-Icon~=glyph].earphone               { &:before { content: "\e182"; } }
[am-Icon~=glyph].phone-alt              { &:before { content: "\e183"; } }
[am-Icon~=glyph].tower                  { &:before { content: "\e184"; } }
[am-Icon~=glyph].stats                  { &:before { content: "\e185"; } }
[am-Icon~=glyph].sd-video               { &:before { content: "\e186"; } }
[am-Icon~=glyph].hd-video               { &:before { content: "\e187"; } }
[am-Icon~=glyph].subtitles              { &:before { content: "\e188"; } }
[am-Icon~=glyph].sound-stereo           { &:before { content: "\e189"; } }
[am-Icon~=glyph].sound-dolby            { &:before { content: "\e190"; } }
[am-Icon~=glyph].sound-5-1              { &:before { content: "\e191"; } }
[am-Icon~=glyph].sound-6-1              { &:before { content: "\e192"; } }
[am-Icon~=glyph].sound-7-1              { &:before { content: "\e193"; } }
[am-Icon~=glyph].copyright-mark         { &:before { content: "\e194"; } }
[am-Icon~=glyph].registration-mark      { &:before { content: "\e195"; } }
[am-Icon~=glyph].cloud-download         { &:before { content: "\e197"; } }
[am-Icon~=glyph].cloud-upload           { &:before { content: "\e198"; } }
[am-Icon~=glyph].tree-conifer           { &:before { content: "\e199"; } }
[am-Icon~=glyph].tree-deciduous         { &:before { content: "\e200"; } }
[am-Icon~=glyph].cd                     { &:before { content: "\e201"; } }
[am-Icon~=glyph].save-file              { &:before { content: "\e202"; } }
[am-Icon~=glyph].open-file              { &:before { content: "\e203"; } }
[am-Icon~=glyph].level-up               { &:before { content: "\e204"; } }
[am-Icon~=glyph].copy                   { &:before { content: "\e205"; } }
[am-Icon~=glyph].paste                  { &:before { content: "\e206"; } }
// The following 2 Glyphicons are omitted for the time being because
// they currently use Unicode codepoints that are outside the
// Basic Multilingual Plane (BMP). Older buggy versions of WebKit can't handle
// non-BMP codepoints in CSS string escapes, and thus can't display these two icons.
// Notably, the bug affects some older versions of the Android Browser.
// More info: https://github.com/twbs/bootstrap/issues/10106
// [am-Icon~=glyph].door                   { &:before { content: "\1f6aa"; } }
// [am-Icon~=glyph].key                    { &:before { content: "\1f511"; } }
[am-Icon~=glyph].alert                  { &:before { content: "\e209"; } }
[am-Icon~=glyph].equalizer              { &:before { content: "\e210"; } }
[am-Icon~=glyph].king                   { &:before { content: "\e211"; } }
[am-Icon~=glyph].queen                  { &:before { content: "\e212"; } }
[am-Icon~=glyph].pawn                   { &:before { content: "\e213"; } }
[am-Icon~=glyph].bishop                 { &:before { content: "\e214"; } }
[am-Icon~=glyph].knight                 { &:before { content: "\e215"; } }
[am-Icon~=glyph].baby-formula           { &:before { content: "\e216"; } }
[am-Icon~=glyph].tent                   { &:before { content: "\26fa"; } }
[am-Icon~=glyph].blackboard             { &:before { content: "\e218"; } }
[am-Icon~=glyph].bed                    { &:before { content: "\e219"; } }
[am-Icon~=glyph].apple                  { &:before { content: "\f8ff"; } }
[am-Icon~=glyph].erase                  { &:before { content: "\e221"; } }
[am-Icon~=glyph].hourglass              { &:before { content: "\231b"; } }
[am-Icon~=glyph].lamp                   { &:before { content: "\e223"; } }
[am-Icon~=glyph].duplicate              { &:before { content: "\e224"; } }
[am-Icon~=glyph].piggy-bank             { &:before { content: "\e225"; } }
[am-Icon~=glyph].scissors               { &:before { content: "\e226"; } }
[am-Icon~=glyph].bitcoin                { &:before { content: "\e227"; } }
[am-Icon~=glyph].yen                    { &:before { content: "\00a5"; } }
[am-Icon~=glyph].ruble                  { &:before { content: "\20bd"; } }
[am-Icon~=glyph].scale                  { &:before { content: "\e230"; } }
[am-Icon~=glyph].ice-lolly              { &:before { content: "\e231"; } }
[am-Icon~=glyph].ice-lolly-tasted       { &:before { content: "\e232"; } }
[am-Icon~=glyph].education              { &:before { content: "\e233"; } }
[am-Icon~=glyph].option-horizontal      { &:before { content: "\e234"; } }
[am-Icon~=glyph].option-vertical        { &:before { content: "\e235"; } }
[am-Icon~=glyph].menu-hamburger         { &:before { content: "\e236"; } }
[am-Icon~=glyph].modal-window           { &:before { content: "\e237"; } }
[am-Icon~=glyph].oil                    { &:before { content: "\e238"; } }
[am-Icon~=glyph].grain                  { &:before { content: "\e239"; } }
[am-Icon~=glyph].sunglasses             { &:before { content: "\e240"; } }
[am-Icon~=glyph].text-size              { &:before { content: "\e241"; } }
[am-Icon~=glyph].text-color             { &:before { content: "\e242"; } }
[am-Icon~=glyph].text-background        { &:before { content: "\e243"; } }
[am-Icon~=glyph].object-align-top       { &:before { content: "\e244"; } }
[am-Icon~=glyph].object-align-bottom    { &:before { content: "\e245"; } }
[am-Icon~=glyph].object-align-horizontal{ &:before { content: "\e246"; } }
[am-Icon~=glyph].object-align-left      { &:before { content: "\e247"; } }
[am-Icon~=glyph].object-align-vertical  { &:before { content: "\e248"; } }
[am-Icon~=glyph].object-align-right     { &:before { content: "\e249"; } }
[am-Icon~=glyph].triangle-right         { &:before { content: "\e250"; } }
[am-Icon~=glyph].triangle-left          { &:before { content: "\e251"; } }
[am-Icon~=glyph].triangle-bottom        { &:before { content: "\e252"; } }
[am-Icon~=glyph].triangle-top           { &:before { content: "\e253"; } }
[am-Icon~=glyph].console                { &:before { content: "\e254"; } }
[am-Icon~=glyph].superscript            { &:before { content: "\e255"; } }
[am-Icon~=glyph].subscript              { &:before { content: "\e256"; } }
[am-Icon~=glyph].menu-left              { &:before { content: "\e257"; } }
[am-Icon~=glyph].menu-right             { &:before { content: "\e258"; } }
[am-Icon~=glyph].menu-down              { &:before { content: "\e259"; } }
[am-Icon~=glyph].menu-up                { &:before { content: "\e260"; } }